.contacts_list_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #aaaaaa;
    padding: 1.5em;
    padding-left: 1em;
    padding-right: 1em;
    color: white;
    position: sticky;
    top: 0;
}

.contact_list {
    height: 100vh;
    overflow: auto;
}