.contact_list_item {
    display: flex ;
    justify-content: space-between;
    border-bottom: 2px solid #d9d9d9;
    padding: 1em;
    cursor: pointer;
}

.contact_list_item:hover{
    background-color: #ecf2f2;
}
.contact_list_item:first-child {
    background-color: #ecf2f2;
}

.contact_list_item .contact_item_data{
    display: flex;
    align-items: center;
}

.contact_list_item .contact_item_data .user_profile {
    object-fit: cover;
    border-radius: 50%;
    height: 4em;
    width: 4em;
}

.contact_list_item .contact_item_data .contact_data_left {
    margin-left: 0.5em;
}

.contact_list_item .contact_item_data .contact_data_left .message_limit {
    display: inline-block;
    width: 180px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}