.contact_list_item {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #d9d9d9;
  padding: 1em;
  cursor: pointer;
  &:hover {
    background-color: #ecf2f2;
  }
  &:first-child {
    background-color: #ecf2f2;
  }
  .contact_item_data {
    display: flex;
    align-items: center;
    .user_profile {
      object-fit: cover;
      border-radius: 50%;
      height: 4em;
      width: 4em;
    }
    .image_placeholder {
      background-color: #ecf2f2;
      border-radius: 50%;
      padding: 1.5em;
      color: white;
      font-size: 1em;
      &.notificaton_border {
        border: 4px solid #608a8b;
      }
    }
    .contact_data_left {
      margin-left: 0.5em;
      .message_limit {
        display: inline-block;
        width: 180px;
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
      }
    }
  }
}
