@import '../../scss/variables';

.chat_message {
  display: flex;
  margin-bottom: 2em;
  .chat_bubble {
    position: relative;
    display: inline-block;
    background-color: $chatBubbleReceiver;
    padding: 1em;
    border-radius: 10px;
    margin-left: 1em;
    margin-right: 1em;
    &::before {
      content: "";
      position: absolute;
      left: -1em;
      bottom: 0;
      border: 0 solid transparent;
      border-top: 9px solid $chatBubbleReceiver;
      border-radius: 0 20px 0;
      width: 15px;
      height: 30px;
      transform: rotate(145deg);
    }
  }
  .user_profile {
    object-fit: cover;
    border-radius: 50%;
    height: 3em;
    width: 3em;
    align-self: flex-end;
  }
  .message_container {
    .message_info {
      display: flex;
      justify-content: space-between;
      margin: 0 1em 0 1em;
    }
  }
  .reminder_item {
    display: flex;
    margin: 1em 0em;
    .reminder_content {
      margin: 0 0 0 0.5em;
      align-self: center;
    }
  }
  .status_container {
    background-color: white;
    padding: 0.5em 2em;
    color: $dangerColor;
    display: inline-block;
    border-radius: 10px;
  }
  .reminder_actions {
    display: flex;
    justify-content: space-between;
    .reminder_actions_info {
      display: flex;
      justify-content: space-between;
    }
  }
  &.sender {
    justify-content: flex-end;
    .chat_bubble {
      background-color: $chatBubbleSender;
      &::before {
        content: "";
        position: absolute;
        right: -1.2em;
        left: auto;
        bottom: 0;
        border-radius: 20px 0 20px;
        transform: rotate(225deg);
        border-top: 9px solid $chatBubbleSender;
      }
    }
  }
}
