body {
  margin: 0;
  height: 100vh;
  font-family: "Nunito";
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
small,
strong,
span {
  color: #546566;
  margin: 0;
}

.text_white {
  color: white;
}

.spacing {
  margin: 0 1em;
}
