$primaryColor : #79c4ca;
$secondaryColor : #546566;
$lightGrey : #ecf2f2;
$brightGrey : #d9d9d9;
$darkGrey : #aaaaaa;
$lightPrimaryColor :#5cafb5;
$darkPrimaryColor : #608a8b ;
$chatBubbleSender : #e6f2f2 ;
$chatBubbleReceiver : #f0f3f9 ;
$dangerColor : #e88282;
